/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left; box-sizing: border-box;}
/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */

body {
	font: 1em sans-serif;
	padding: 20px;S
	margin: 0;
}

.container {
	max-width: 768px;
	margin: 0 auto;

}

table, th, td {
    border: 1px solid #bbb;
	border-collapse: collapse;
	vertical-align: top;
	padding: 5px;
	font-size: 0.9em;
}

table {
	width: 100%;
}

th {
    background-color: #4c7aaf;
    color: white;
	font-weight: 300
}

/*****************
      FORM
*****************/

fieldset {
	padding: 10px;
/*	background-color: rgba(100, 100, 100, 0.4);*/
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	border: 1px solid #c3cfe2;
}

legend {
	background-color: #fff;
	padding: 4px 10px;
	border: 1px solid #c3cfe2;
}

.flex-outer li,
.flex-inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.flex-outer > li > label,
.flex-outer li p {
	flex: 1 0 150px;
	max-width: 160px;
	font-size: 0.8em;
	margin-bottom: 10px;
}

.flex-outer > li > label + *,
.flex-inner {
	flex: 1 0 220px;
	margin-bottom: 10px;
}

.flex-outer li label span {
	color: red;
	font-weight: 900;
	font-size: 1.2em;
}
.flex-outer li input[type="submit"] {
	margin-left: auto;
	padding: 8px 16px;
	border: none;
	background: #333;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: .09em;
	border-radius: 2px;
}

.flex-inner li {
	width: 60px;
}

.flex-inner li label {
	padding-left: 5px;
	font-size: 0.8em;
}

.flex-inner li input[type="checkbox"] {
	margin-left: 3px;
	transform: scale(1.5);
}
