/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left; box-sizing: border-box;}
/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */

body {
   font: 1em sans-serif;
   padding: 20px;
   margin: 0;
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	font-size: 5em;
	text-align: center;
}

h2 {
	font-weight: bold;
	text-decoration: underline;
}

/********************
		form
********************/

fieldset {
   background-color: #f1f1f1;
}

.flex-form {
  display: flex;
  flex-direction: row;
	justify-content: center;
}

.flex-form label {
  padding: 6px 10px;
  text-decoration: none;
  font-size: 0.8em;
  flex-basis: 18em;
  text-align: right;
  align-self: flex-end;
	 margin-bottom: 4px;
}

.flex-form legend {
   background-color: #fff;
   border: 1px solid #000;
   padding: 2px 10px;
   font-size: 0.7em;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
textarea,
fieldset {
   width: 100%;
   border: 1px solid #333;
   padding: 6px 10px;
	margin: 4px;
}

input[type=checkbox],
input[type=radio] {
   transform: scale(1.2);
   vertical-align: middle;
}

input:invalid {
   border: none;
   box-shadow: 0 0 5px 1px #4CAF50;
}

input[type=submit] {
   background-color: 4CAF50;
   color: white;
   padding: 14px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   text-transform: uppercase;
   width: 100%;
}

input[type=submit]:hover {
   background-color: #45a049;
}

button {
	background-color: #ccc;
	color: #fff;
	padding: 10px;
	width: 90%;
	display: block;
	border: none;
	margin: 4px;
	margin-left: 12.6em;

}
