/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}
/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */

body {
   font: 1em sans-serif;
   padding: 20px;
   margin: 0;
}

fieldset {
   max-width: 600px;
   margin: 0;
   background-color: #f1f1f1;
}

label {
   display: block;
   padding: 10px 0 0;
   text-decoration: none;
   font-size: 0.8em
}

legend {
   background-color: #fff;
   border: 1px solid #000;
   padding: 2px 10px;
   font-size: 0.7em;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
textarea,
fieldset {
   width: 100%;
   border: 1px solid #333;
   margin: 0;
   padding: 6px 10px;
   box-sizing: border-box;
}

input[type=checkbox],
input[type=radio] {
   transform: scale(1.5);
   height: 25px;
   vertical-align: middle;
}

input:invalid {
   border: none;
   box-shadow: 0 0 5px 1px #4CAF50;
}

input:first-child {
   margin-top: 5px;
}

input[type=submit] {
   background-color: #4CAF50;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   text-transform: uppercase;
   width: 100%;
}

input[type=submit]:hover {
   background-color: #45a049;
}

button {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px;
	width: 200px;
	display: block;
	border: none;
	margin: 10px auto;
}
